header.top {
    display: flex;
    background-color: var(--bg-footer);
    align-items: center;
    padding: 0 .5rem;
    color: #fff;
}

.top-nav>li>a {
    text-decoration: none;
    padding: 1.5rem;

}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: system-ui;

    .sub-title {
        font-size: 0.75rem;
        font-weight: normal;
    }
}



.logo-svg_fill1 {
    fill: var(--clr-01);
}


.logo-svg_fill2 {
    fill: var(--clr-02);
}


.logo-svg_stroke1 {
    stroke: var(--clr-01);
}


.logo-svg_stroke2 {
    stroke: var(--clr-02);
}
/* theme switcher */

.theme-switcher {
    &:focus-visible {
        outline: 2px solid #fff;
    }

    & label {
        width: 1.5rem;
        height: 1.5rem;
        display: block;
    }

    & svg {
        width: 100%;
        height: 100%;
    }
}

#theme-switcher:checked+label {
    --theme: 'dark';

    & :first-child {
        fill: red;
        display: inline-block
    }

    & :last-child {
        display: none;
    }
}


#theme-switcher:not(:checked)+label {
    --theme: 'light';

    & :first-child {
        display: none;
    }

    & :last-child {
        display: inline-block;
        fill: green;
    }
}