html,
body {
  margin: 0;
  display: flow-root;
}

.ab-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  height: 100vh;
}

.ab-layout > main {
  background-color: var(--bg-main);
}

.ab-layout > footer {
background-color: var(--bg-footer);
padding: 2rem 0.5rem;
color:#fff;
}
.h1 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

.txt-primary {
  color: var(--color-primary);
}
.txt-secondary {
  color: var(--color-secondary);
}
