html,
body {
  margin: 0;
  display: flow-root;
}

.ab-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  height: 100vh;
  
  & main {
    background-color: var(--bg-main);
  }
  
  & footer {
    background-color: var(--bg-footer);
    padding: 2rem 0.5rem;
    color: #fff;
  }
}

