html {
  margin: 0;
  display: flow-root;
  color: hsl(var(--dark-or-light), 0%, 100%);
}

body {
  margin: 0;  
}

.ab-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  height: 100vh;

  & main {
    /* background-color: var(--bg-main); */
    margin:0;
  }

  & footer {
    /* background-color: var(--bg-footer); */
    padding: 2rem 0.5rem;
    color: #fff;
  }
}

.svg-bg-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;



}
.svg-set-fills {
  display: block;
  margin: 0 auto;
  width: var(--width-or-height-largest);
  height: calc(var(--width-or-height-largest) / 2);
}


.svg-set-fills path:nth-child(1) {
  fill: hsl(calc(var(--svg-gradient-base) - 40deg), 100%, 66%);
}

.svg-set-fills path:nth-child(2) {
  fill: hsl(calc(var(--svg-gradient-base) - 30deg), 100%, 66%);
}


.svg-set-fills path:nth-child(3) {
  fill: hsl(calc(var(--svg-gradient-base) - 20deg), 100%, 66%);
}


.svg-set-fills path:nth-child(4) {
  fill: hsl(calc(var(--svg-gradient-base) - 10deg), 100%, 66%);
}


.svg-set-fills path:nth-child(5) {
  fill: hsl(var(--svg-gradient-base), 100%, 66%);
}


.svg-set-fills path:nth-child(6) {
  fill: hsl(calc(var(--svg-gradient-base) + 10deg), 100%, 66%);
}



.svg-set-fills path:nth-child(7) {
  fill: hsl(calc(var(--svg-gradient-base) + 20deg), 100%, 66%);
}


.svg-set-fills path:nth-child(8) {
  fill: hsl(calc(var(--svg-gradient-base) + 30deg), 100%, 66%);
}



.svg-set-fills path:nth-child(9) {
  fill: hsl(calc(var(--svg-gradient-base) + 40deg), 100%, 66%);
}


.svg-set-fills path:nth-child(10) {
  fill: hsl(calc(var(--svg-gradient-base) + 50deg), 100%, 66%);
}