.txt-primary {
  color: var(--color-primary);
}

.txt-secondary {
  color: var(--color-secondary);
}

.fs-lg {
  font-size: 1.5rem;
}

.d-flex {
  display: flex;
}

.justify-content-end {
  justify-content: flex-end;
}

.w-100 {
  width: 100%;
}

.ul-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.backdrop-blur {
  backdrop-filter: blur(15px);
}

