.txt-primary {
  color: var(--color-primary);
}

.txt-secondary {
  color: var(--color-secondary);
}

.fs-lg {
  font-size: 1.5rem;
}

.no-wrap {
  white-space: nowrap;
}

.flex-col {
  flex-direction: column;
}

.d-flex {
  display: flex;
}

.justify-content-end {
  justify-content: flex-end;
}

.flex-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.g-1 {
  gap: 0.25rem;
}

.g-2 {
  gap: 0.5rem;
}

.g-3 {
  gap: 0.75rem;
}

.g-4 {
  gap: 1rem;
}

.w-100 {
  width: 100%;
}

.ul-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.backdrop-blur {
  backdrop-filter: blur(15px);
}
.pointer {
  cursor: pointer;
}